.IndexLink {
  text-decoration: none;
}

.IndexLink > button {
    width: 100%;
    padding: 3px 6px;
    font-size: 1.5rem;
    border: none;
    text-align: left;
    margin-bottom: 9px;
    color: var(--black);
    background-color: transparent;
}

.IndexLink:hover > button {
  color: white;
  background-color: var(--black);
  cursor: pointer;
}

.IndexLink > button::after {
  content: " â†";
  background-color: aquamarine;
}

.IndexLink:hover > button::after {
  background-color: rgb(251, 69, 120);
}
